html, body, #charlie { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

.main {
    text-align: center;
    margin: 20px;
}

.location-permission-denied, .location-not-found {
    display: none;
}