html, body, #charlie { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
    overflow: hidden;
}

.main {
    text-align: center;
    margin: 20px;
    display: none;
}

.main .glyphicon-remove{
    float: right;
    cursor: pointer;
}

.location-permission-denied, .location-not-found {
    display: none;
}

.sharebar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 6px;
    z-index: 2;
    background: #000;
    color: #FFF;
}