<!DOCTYPE html>
<html>
    <head>
        <title>Nous sommes Charlie.</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/jpg" href="/img/charlie.jpg" />

        <meta property="og:title" content="Nous sommes Charlie" />
        <meta property="og:image" content="http://noussommescharlie.toratora.traffix.fr/img/nouscharlie.jpg" />
        <meta property="og:description" content="Montrons le au monde." />
    </head>
    <body>
        <div id="fb-root"></div>
        {% if (display_button) %}
            <div class="main">
                <div class="alert alert-danger location-permission-denied" role="alert">Vous devez accepter de donner votre position en modifiant les paramètres de sécurité de votre navigateur.</div>
                <div class="alert alert-warning location-not-found" role="alert">Votre position est introuvable pour le moment</div>
                <div class="desc">
                    <p>Si toi aussi tu es Charlie, rejoins-nous en cliquant sur ce bouton:</p>
                    <button type="button" class="btn btn-sm btn-default addACharlie">
                      <img src="/img/charlie.jpg" />
                      Je suis Charlie.
                    </button>
                </div>
            </div>
        {% endif %}

        <div id="charlie"></div>

        <div class="sharebar">
            <div class="pull-left">
                <a href="http://www.charliehebdo.fr/">www.charliehebdo.fr</a>
            </div>
            <div class="pull-right">
                <div class="fb-share-button" data-href="http://{{ app.request.host }}" data-layout="button_count"></div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ app.config.google.maps.key }}"></script>
        <script src="/js/markerclusterer_compiled.js"></script>
        <script src="/js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ app.config.google.analytics.code }}', 'auto');
          ga('send', 'pageview');

          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_CA/sdk.js#xfbml=1&appId={{ app.config.facebook.appId }}&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

        <!-- source code available here: https://github.com/T0RAT0RA/noussommescharlie -->
    </body>
</html>
